.about-container {
  text-align: center;
  padding: 20px;
  background-color: white;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.about-title {
  color: #003366;
}

.about-text {
  font-size: 16px;
  line-height: 1.6;
}

